

.pointer {
    cursor: pointer;
}

.centered {
    text-align: center;
}

.standard-card {
    padding: 20px;
    min-width: 250px;
    margin: 20px;
}

.creator-card {
    max-width: 250px;
    min-width: 120px;
    margin: 20px;
    display: inline-block;
    background-color: #f0f0f0;
}

.sell-header {margin-bottom: 10px;}

.bold {
    font-weight: bold;
}

.error-text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}

.normal-link {
    text-decoration: none;
    color: blue;
}

.normal-link:hover {
    text-decoration: underline;
}