.toku__footer {
    display: flex;
    border: 1px solid white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}

.toku__footer-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.toku__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04em;
}

.toku__footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #696969;
    text-align: center;
    margin-bottom: 10rem;
    cursor: pointer;

}

.toku__footer-button p {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 21px;
    color: #696969;
    word-spacing: 2px;
}

.toku__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left;
}

.toku__footer-links div {
    width: 250px;
    margin: 1rem;
}

.toku__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.toku__footer-links_logo img {
    width: 189px;
    height: 48px;
    margin-bottom: 1rem;
}

.toku__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #696969;
}

.toku__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.toku__footer-links_div h4 {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 16px;
    color: black;
    margin-bottom: 1rem;
}

.toku__footer-links_div p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #696969;
    margin: 0.5rem 0;
    cursor: pointer;
}

.toku__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.toku__footer-copyright p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: black;
}

@media screen and (max-width: 850px) {
    .toku__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .toku__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .toku__footer-links div {
        margin: 1rem 0;
    }

    .toku__footer-button p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .toku__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}